DATABASE_URL=postgresql://user:password@localhost:5432/nomadide
REDIS_URL=redis://localhost:6379
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
JWT_SECRET=your_jwt_secret
